@use "inline";

// Misc

.adoc {
  hr {
    border-color: theme("colors.gray.300");
    @apply tw-clear-both tw-mx-auto tw-my-6 tw-block tw-h-0 tw-w-24 tw-border-0 tw-border-b md:tw-w-32;
  }

  i.conum[data-value] {
    @apply tw-box-content tw-inline-block tw-h-[1.25em] tw-w-[1.25em] tw-rounded-[100%] tw-border tw-border-current tw-text-center tw-font-sans tw-font-normal tw-not-italic tw-leading-[1.25];

    &::before {
      content: attr(data-value);
    }

    + b {
      @apply tw-sr-only;
    }
  }

  $-admonition-icons:
    "note"
      "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMzZweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMzZweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTEyIDJhMTAgMTAgMCAwIDAgMCAyMGExMCAxMCAwIDAgMCAwLTIwem0wIDJhOCA4IDAgMCAxIDAgMTZhOCA4IDAgMCAxIDAtMTZ6TTExIDd2Mmgydi0yem0wIDR2Nmgydi02eiIvPjxwYXRoIGQ9Ik0xMiA0YTggOCAwIDAgMCAwIDE2YTggOCAwIDAgMCAwLTE2ek0xMSA3aDJ2MmgtMnptMCA0aDJ2NmgtMnoiIG9wYWNpdHk9Ii4zIi8+PC9zdmc+",
    "tip"
      "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMzZweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMzZweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTE1Ljc0MTY1NzQgMTZBNy41IDcuNSAwIDEgMCA4LjI1ODM0MjYgMTZ6TTguODM3NzIyMyAxNEE1LjUgNS41IDAgMSAxIDE1LjE2MjI3NzcgMTR6TTggMTdoOHYyaC04ek0xMCAyMGEyIDIgMCAwIDAgNCAweiIvPjxwYXRoIGQ9Ik0xNS4xNjIyNzc3IDE0QTUuNSA1LjUgMCAxIDAgOC44Mzc3MjIzIDE0eiIgb3BhY2l0eT0iLjMiLz48L3N2Zz4=",
    "important"
      "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMzZweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMzZweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTguMjcyMDc3OSAzTDMgOC4yNzIwNzc5VjE1LjcyNzkyMTFMOC4yNzIwNzc5IDIxSDE1LjcyNzkyMTFMMjEgMTUuNzI3OTIxMVY4LjI3MjA3NzlMMTUuNzI3OTIxMSAzek0xNC44OTk0OTQ5IDVMMTkgOS4xMDA1MDUxVjE0Ljg5OTQ5NDlMMTQuODk5NDk0OSAxOUg5LjEwMDUwNTFMNSAxNC44OTk0OTQ5VjkuMTAwNTA1MUw5LjEwMDUwNTEgNXpNMTEgN3Y2aDJ2LTZ6bTAgOHYyaDJ2LTJ6Ii8+PHBhdGggZD0iTTkuMTAwNTA1MSA1TDUgOS4xMDA1MDUxVjE0Ljg5OTQ5NDlMOS4xMDA1MDUxIDE5SDE0Ljg5OTQ5NDlMMTkgMTQuODk5NDk0OVY5LjEwMDUwNTFMMTQuODk5NDk0OSA1ek0xMSA3aDJ2NmgtMnptMCA4aDJ2MmgtMnoiIG9wYWNpdHk9Ii4zIi8+PC9zdmc+",
    "warning"
      "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMzZweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMzZweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTEyIDJMMSAyMUgyM3pNMTIgNS45OTE3MjcwTDE5LjUzMTEwNTQgMTlINC40Njg4OTQ2ek0xMSAxMHY0aDJ2LTR6bTAgNnYyaDJ2LTJ6Ii8+PHBhdGggZD0iTTEyIDUuOTkxNzI3MEw0LjQ2ODg5NDYgMTlIMTkuNTMxMTA1NHpNMTEgMTBoMnY0aC0yem0wIDZoMnYyaC0yeiIgb3BhY2l0eT0iLjMiLz48L3N2Zz4=",
    "caution"
      "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMzZweCIgdmlld0JveD0iMCAwIDIwIDIwIiB3aWR0aD0iMzZweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTE2IDExYzAuMDEtMi4zOS0xLjItNC45Ni0zLTZsLTAuMzMgMC40MWMtMC4zMSAwLjM5LTAuNzQgMC41Ny0xLjE2IDAuNTdjLTAuNzcgMC0xLjUxLTAuNTktMS41MS0xLjVWMmMwIDAtNiAzLjc1LTYgOSBjMCAzLjMxIDIuNjkgNiA2IDZTMTYgMTQuMzEgMTYgMTFMMTYgMTF6TTEwIDE1LjVjLTAuNzMgMC0xLjUtMC41OC0xLjUtMS41YzAtMC40NyAwLjIxLTAuOCAwLjM5LTFMMTAgMTEuNzVMMTEuMTEgMTMgYzAuMTggMC4yIDAuMzkgMC41MyAwLjM5IDFDMTEuNSAxNC44MyAxMC44MyAxNS41IDEwIDE1LjV6TTEyLjk2IDE0LjM3TDEyLjk2IDE0LjM3YzAuMDMtMC4yNSAwLjE5LTEuMzUtMC43My0yLjM3TDEwIDkuNSBMNy43NyAxMmMtMC45MiAxLjAyLTAuNzYgMi4xMi0wLjczIDIuMzZDNi4xIDEzLjUzIDUuNSAxMi4zNCA1LjUgMTFjMC0yLjQxIDEuNjItNC41MiAzLjA2LTUuOTJjMC4yOCAxLjM3IDEuNSAyLjM5IDIuOTUgMi4zOSBjMC41NyAwIDEuMTEtMC4xNiAxLjU4LTAuNDZjMC44NSAwLjk5IDEuNDEgMi41NSAxLjQxIDMuOThDMTQuNSAxMi4zNCAxMy45IDEzLjU1IDEyLjk2IDE0LjM3eiIvPjxwYXRoIGQ9Ik0xMCAxMS43NUw4Ljg5IDEzYy0wLjE4IDAuMi0wLjM5IDAuNTMtMC4zOSAxYzAgMC45MiAwLjc3IDEuNSAxLjUgMS41YzAuODMgMCAxLjUtMC42NyAxLjUtMS41IGMwLTAuNDctMC4yMS0wLjgtMC4zOS0xTDEwIDExLjc1ek0xMS41MSA3LjQ4Yy0xLjQ1IDAtMi42Ny0xLjAzLTIuOTUtMi4zOUM3LjEyIDYuNDggNS41IDguNTkgNS41IDExYzAgMS4zNCAwLjYgMi41MyAxLjU0IDMuMzYgQzcuMDEgMTQuMTIgNi44NSAxMy4wMiA3Ljc3IDEyTDEwIDkuNWwyLjIzIDIuNWMwLjkyIDEuMDIgMC43NiAyLjEyIDAuNzMgMi4zN2gwYzAuOTMtMC44MyAxLjU0LTIuMDMgMS41NC0zLjM3IGMwLjAxLTEuNDMtMC41NS0yLjk5LTEuNDEtMy45OEMxMi42MyA3LjMyIDEyLjA4IDcuNDggMTEuNTEgNy40OHoiIG9wYWNpdHk9Ii4zIi8+PC9zdmc+";

  @each $type, $icon in $-admonition-icons {
    i.fa.icon-#{$type} {
      --mask-image: url("data:image/svg+xml;base64,#{$icon}");
    }
  }
}
